body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-118px;
  width:1199px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:210px;
  width:414px;
  height:906px;
  display:flex;
}
#u1834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:231px;
  width:360px;
  height:11px;
  display:flex;
}
#u1835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:977px;
  width:345px;
  height:44px;
  display:flex;
}
#u1837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1837_img.mouseDown {
}
#u1837.mouseDown {
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:977px;
  width:345px;
  height:44px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:55px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:1009px;
  width:332px;
  height:55px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1839 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:999px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1840_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u1840_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-5px;
  width:10px;
  height:48px;
}
#u1840_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:33px;
  width:20px;
  height:10px;
}
#u1840_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1840_seg4 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:29px;
  width:19px;
  height:18px;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:917px;
  width:345px;
  height:44px;
  display:flex;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_img.mouseDown {
}
#u1842.mouseDown {
}
#u1842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:917px;
  width:345px;
  height:44px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:902px;
  width:332px;
  height:31px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1845 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:939px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u1846_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-26px;
  width:10px;
  height:31px;
}
#u1846_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-26px;
  width:20px;
  height:10px;
}
#u1846_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1846_seg4 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-30px;
  width:19px;
  height:18px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:281px;
  width:332px;
  height:31px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1848 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:272px;
  width:50px;
  height:50px;
  display:flex;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:281px;
  width:252px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:306px;
  width:70px;
  height:16px;
  display:flex;
  color:#797979;
}
#u1851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E6A23C;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:297px;
  width:42px;
  height:16px;
  display:flex;
  color:#E6A23C;
}
#u1852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:347px;
  width:28px;
  height:16px;
  display:flex;
  color:#909399;
}
#u1854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:372px;
  width:388px;
  height:154px;
  display:flex;
  line-height:22px;
}
#u1855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:543px;
  width:28px;
  height:16px;
  display:flex;
  color:#909399;
}
#u1857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:543px;
  width:111px;
  height:16px;
  display:flex;
}
#u1858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:305px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1859_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u1859_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-13px;
  width:10px;
  height:18px;
}
#u1859_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-13px;
  width:20px;
  height:10px;
}
#u1859_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1859_seg4 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-17px;
  width:19px;
  height:18px;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:520px;
  width:332px;
  height:31px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1860 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:551px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1861_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-5px;
  width:47px;
  height:10px;
}
#u1861_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-20px;
  width:10px;
  height:25px;
}
#u1861_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-20px;
  width:15px;
  height:10px;
}
#u1861_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1861_seg4 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-24px;
  width:19px;
  height:18px;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:58px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:289px;
  width:332px;
  height:58px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1862 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:314px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1863_seg0 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-5px;
  width:111px;
  height:10px;
}
#u1863_seg1 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-5px;
  width:10px;
  height:14px;
}
#u1863_seg2 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-1px;
  width:15px;
  height:10px;
}
#u1863_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1863_seg4 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-5px;
  width:19px;
  height:18px;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1036px;
  width:345px;
  height:44px;
  display:flex;
}
#u1865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1865_img.mouseDown {
}
#u1865.mouseDown {
}
#u1865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1036px;
  width:345px;
  height:44px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:55px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:997px;
  width:332px;
  height:55px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1867 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1058px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1868_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-5px;
  width:71px;
  height:10px;
}
#u1868_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-38px;
  width:10px;
  height:43px;
}
#u1868_seg2 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-38px;
  width:15px;
  height:10px;
}
#u1868_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1868_seg4 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-42px;
  width:19px;
  height:18px;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:579px;
  width:28px;
  height:16px;
  display:flex;
  color:#909399;
}
#u1870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1870_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:872px;
  width:75px;
  height:16px;
  display:flex;
}
#u1872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:872px;
  width:267px;
  height:16px;
  display:flex;
}
#u1873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:840px;
  width:75px;
  height:16px;
  display:flex;
}
#u1875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:840px;
  width:267px;
  height:16px;
  display:flex;
}
#u1876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:637px;
  width:377px;
  height:80px;
  display:flex;
  line-height:22px;
}
#u1878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:613px;
  width:75px;
  height:16px;
  display:flex;
}
#u1880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:613px;
  width:267px;
  height:16px;
  display:flex;
}
#u1881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:717px;
  width:30px;
  height:30px;
  display:flex;
  font-size:7px;
}
#u1883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:725px;
  width:298px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u1884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:757px;
  width:60px;
  height:60px;
  display:flex;
}
#u1885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:757px;
  width:60px;
  height:60px;
  display:flex;
}
#u1886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:757px;
  width:60px;
  height:60px;
  display:flex;
}
#u1887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:757px;
  width:60px;
  height:60px;
  display:flex;
}
#u1888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:757px;
  width:60px;
  height:60px;
  display:flex;
}
#u1889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:543px;
  width:100px;
  height:16px;
  display:flex;
  color:#606266;
}
#u1890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:536px;
  width:332px;
  height:31px;
  display:flex;
  color:#606266;
  text-align:left;
  line-height:22px;
}
#u1891 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:551px;
  width:0px;
  height:0px;
  color:#E6A23C;
}
#u1892_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u1892_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-5px;
  width:10px;
  height:11px;
}
#u1892_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-4px;
  width:20px;
  height:10px;
}
#u1892_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1892_seg4 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:19px;
  height:18px;
}
#u1892_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
